

.NAVLINK{
	position: absolute;
	margin: 15px;
}

.NAVLINK a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
	width: 200px;
    position: relative;
    padding: 10px 40px;
    margin: 20px 10px -8px 0px;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 12px;
    text-decoration: none;  
    background-color: #3498DB;
    text-shadow: 0px -2px #2980B9;
  
}

.NAVLINK a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	transition: transform 0.3s, opacity 0.3s;
}

.NAVLINK a:hover::before,
.NAVLINK a:focus::before {
	transform: scale(0.9);
	opacity: 0;
}



body{
	background: #345d76 repeat top left;
	font-family:Arial;
	top: 110px;
}

ul.sdt_menu{
	margin-top:150px;
}
ul.sdt_menu{
	margin:0;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:1020px;
	
}
ul.sdt_menu a{
	text-decoration:none;
	outline:none;
	
}
ul.sdt_menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
	top: 210px;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:85px;
	z-index:12;
	background:transparent;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}
ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#111;
	top:85px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; 
	font-size:10px;
	letter-spacing:1px;
}
